<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Application Server Traffic Monitoring</title>

        <script src="static/js/highcharts.src.js"></script>
        <script src="static/js/data.js"></script>
        <script src="static/js/drilldown.js"></script>
        <script src="static/js/exporting.js"></script>
        <script src="static/js/export-data.js"></script>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>


        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bandwidth Monitoring</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>


        <div class="container-fluid" >
            <div class="row charts-area">
                <div class="col-lg-10 col-lg-offset-1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Application Server Traffic" aria-controls="Application Server Traffic" role="tab" data-toggle="tab">Application Server Traffic</a></li>

                        <li role="presentation" class="active"><a href="#Streaming Server Traffic" aria-controls="Streaming Server Traffic" role="tab" data-toggle="tab">Streaming Server Traffic</a></li>

                    </ul>


                        <div role="tabpanel" class="tab-pane active" id="Application Server Traffic"></div>
                        <div role="tabpanel" class="tab-pane" id="month"></div>

                          <ol>
                          {% for item in albums_name %}
                              <li>
                                {{ item }}: (
                                <a href="/weekly/albums/sales/{{item}}" target="_blank"> weekly </a>,
                                <a href="/monthly/albums/sales/{{item}}"  target="_blank"> monthly </a>)
                              </li>
                          {% endfor %}
                          </ol>
                        </div>                    
                        
                </div>
            </div>
        </div>

        <style>
          xAxis: {
          categories: xlist,
          min: 0,
          max: 4,
          scrollbar: {
                enabled: true
          },
          },        
        </style>

        <footer></footer>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript">

        Highcharts.chart('Application Server Traffic', {
          chart: {
            type: 'column',
            zoomType: 'xy'

          },
       
          title: {
            text: 'Application Server Traffic monitoring'
          },

          xAxis: {
            categories: {{ dates | safe }},
            crosshair: true
          },
     
          yAxis: {
            min: 0,
            title: {
              text: 'Application Server Traffic (GB)'
            }
          },
  
         tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} GB</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          },
         
          plotOptions: {
            column: {
              pointPadding: 0.2,
              borderWidth: 0
            }
          },
        
          series: [{
            name: 'rx',
            data: {{ RX | safe }}

          }, {
            name: 'tx',
            data: {{ TX | safe }}

          }]
        });

        Highcharts.chart('Streaming Server Traffic', {
          chart: {
            type: 'column'
          },
       
          title: {
            text: 'Streaming Server Traffic monitoring'
          },

          xAxis: {
            categories: {{ dates | safe }},
            crosshair: true
          },
     
          yAxis: {
            min: 0,
            title: {
              text: 'Streaming Server Traffic (GB)'
            }
          },
  
         tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} GB</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          },
         
          plotOptions: {
            column: {
              pointPadding: 0.2,
              borderWidth: 0
            }
          },
        
          series: [{
            name: 'rx',
            data: {{ RX | safe }}

          }, {
            name: 'tx',
            data: {{ TX | safe }}

          }]
        });
        </script> 


  </body>
</html>